

.top{
    background: #52C4A4;
}

.vote-title{
    color: #52C4A4;
    border-bottom: 2px solid #52C4A4;
}

.icon-yuan{
    color:#52C4A4;
    margin-right:4px;
}
.votesItem .on .checkbox_warp{
    background-color:#52C4A4;
    background: url(../img/multi.png) no-repeat center center #52C4A4 !important;
    border-color: #52C4A4;
}

.button{
    background: #52C4A4;
}