
html,body,ul,ol,li{
    margin:0;padding:0;
}

a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    display: inline-block;
}
h3 {
    font-weight: 400;
}
ul,ol,li{
    list-style: none;
}
.only{
    width:120px;
}
.double{
    width:335px;
    display: block
}
.icon{
    color:#C5C5C5;
    
}
input{
    border:1px solid #e6e6e6;
    width: 302px;
    height:24px;
    padding: 0 10px;
}
.vote-content{
    width:800px;
    margin:0 auto;   
}
.title{
    font-size: 24px;
    color:#D43E42;
    text-align: center;
    padding:40px 0;
    border-bottom:2px solid #D43E42;
}
.description{
    margin: 25px 0;
    font-size:16px;
    color: #222222;
}

.description img {
    margin: 25px auto;
    max-width: 100%;
    display: block;
}

.top{
    height: 60px;
    text-align: center;
    color:#fff;
    font-size: 16px;
    line-height: 60px;
}

.vote-title{
    width: 100%;
    text-align: center;
}
.vote-title h2 {
    height: 110px;
    line-height: 110px;
    margin:0;
}


.line{
    width:100%;
    background: url(../img/bg.png);
    background-size: 100% 100%;
    height:10px;
    margin: 0 0 20px 0;
}
.content .votesItem{
    padding:10px 0;
    overflow: hidden;
}
.content .votesItem .survey-title{
    padding-bottom:15px;
}
.content .votesItem ul li{
    padding:5px 0 5px 6px;
    position: relative;
}

.required{
    color:#C40202;
}
.content{
    min-height: 800px;
}
.content h3{
    font-size:16px;
    color:#222222;
    padding:0;
    margin:0;
}
.content ul{
    padding-left:32px;
}
.content ul li img{
    width: 80%;
    height: auto;
}

.layui-btn.button{
    height:45px;
    line-height: 45px;
    width:400px;
    margin:50px auto;
    border:none;
    border-radius: 5px;
    behavior: url(pie.htc);
    color:#fff;
    text-align: center;
    display: block !important;
}
.button {
    background: transparent;
}
textarea{
    width:335px;
    height:125px;
    border:1px solid #C5C5C5;
    margin-left:40px;
}


/*答卷结束页面*/
.vote-img{
	width: 193px;
    height: 228px;
    margin-top: 70px;
}
.vote-img dl{
   margin-left:303px;
}
.vote-img dd{
	font-family:PingFangSC-Medium;
	color: #222222;
	font-size:24px;
	margin-top: 25px;
}
.vote-text1{
	width:194px;
    text-align: center;
}
.vote-text2{
	width:184px;
	margin-left:13px;
}
.name{
	width:256px;
}
#items3{
	clear: both;
}


.fl{
    float: left;
    width: 48%;
}

/* 头部 */

.nav {
	width: 100%;
	height: 60px;
	background: #d43e42;
}

.nav-wap {
	width: 1000px;
	height: 60px;
	margin: 0 auto;
}

.notice {
	width: 26px;
	height: 26px;
	float: left;
	padding-top: 20px;
}


#container::before {
	content: "";
	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	left: -1px;
	z-index: 4;
	/* background-image: url(../image/zhong.png); */
	/*background: rgba(212,62,66,0.9);*/
}

#container::after {
	content: "";
	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 4;
	/* background-image: url(../image/zhong2.png); */
}

#container {
	width: 606px;
	height: 60px;
	overflow: hidden;
	position: relative;
	float: left;
}


.user {
	width: 154px;
	height: 40px;
	/*line-height:60px;*/
	border-left: solid 1px #ec6a6e;
	border-right: solid 1px #ec6a6e;
	margin-top: 10px;
}

.user img {
	float: left;
	width: 21px;
	height: 21px;
	margin-top: 20px;
	margin-left: 26px;
}

.user span {
    float: left;
    margin-left: 10px;
    color: #FFFFFF;
    font-size: 16px;
    display: inline-block;
    width: 80px;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0;
}

#channel {
	width: 154px;
	height: 40px;
	float: left;
	border-right: solid 1px #ec6a6e;
	margin-top: 10px;
}

#channel img {
    float: left;
    width: 22px;
    height: 17px;
    display: block;
    margin-top: 22px;
    margin-left: 44px;
}

#channel span {
    float: left;
    color: #FFFFFF;
    margin-top: 19px;
    margin-left: 10px;
    font-size: 16px;
}

.nav-op li a {
	display: block;
	width: 154px;
	height: 60px;
	margin-top: -10px;
}

.nav-op li a:hover {
	width: 154px;
	height: 60px;
	background: #f8a504;
	color: #FFFFFF;
}

.nav-op {
	float: left;
	margin-left: 21px;
}

.nav-op li {
	float: left;
}

#channel-list {
	width: 998px;
	border-top: solid 3px #f8a504;
	border-bottom: solid 1px #f8a504;
	border-left: solid 1px #f8a504;
	border-right: solid 1px #f8a504;
	position: absolute;
	top: 60px;
	background: #fff;
	z-index: 1000;
	display: none;
	padding-bottom: 18px;
}

#channel-list li {
	float: left;
	text-align: justify;
	padding-left: 23px;
	line-height: 30px;
}

#channel-list ul {
	width: 959px;
	margin-top: 23px;
}

#channel-list ul a {
	color: #f8a504;
}

.channel1 {
	margin-left: 30px;
}

.channel2 {
	margin-left: 30px;
}

.channel3 {
	margin-left: 30px;
}

.channel4 {
	margin-right: 15px;
}

.channel5 {
	margin-right: 20px;
}

.xuan-top{
    width: 100%;
    height: 152px;
    /* border-bottom: solid 9px #c53a3d;
    box-shadow: 1px 1px 2px #992d30; */
}
.xuan-text{
    width: 1000px;
    height:152px;
    margin: 0 auto;
}
.xuan-img{
    width: 65px;
    height: 70px;
    margin-bottom: 20px;
}
.xuan-img img{
    width:100%;
    height:100%;
}
.xuan-text1{
    width: 338px;
    height: 70px;
    float: left;
    /* margin-left: 84px; */
    margin-top: 40px;
}
.xuan-text1 img{
    width: 100%;
    height: 100%;
}
.xuan-text2{
    float: left;
    height: 51px;
    background:#b42d2d;
    margin-top: 54px;
    margin-left: 21px;
}
.xuan-text2 img{
    margin: 9px 17px 8px 17px;
}
.xuan-top-border{
    height:10px;
    width:100%;
    background:url(../img/xuan-border-vote.png) repeat-x bottom;
}

.ellipsis {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*文字滚动*/
.txtMarquee-left{ width:606px;height: 60px; position:relative; }		
.txtMarquee-left .grzx-bd{ padding:10px; }
.txtMarquee-left .grzx-bd .tempWrap{ width:606px !important; }/* 用 !important覆盖SuperSlide自动生成的宽度，这样就可以手动控制可视宽度。 */
.txtMarquee-left .grzx-bd ul{ overflow:hidden; zoom:1;}
.txtMarquee-left .grzx-bd ul li{ margin-right:20px;  float:left;line-height:40px; 
 text-align:left; _display:inline; width:auto !important;}/* 用 width:auto !important 覆盖SuperSlide自动生成的宽度，解决文字不衔接问题 */
.txtMarquee-left .grzx-bd ul a{
	color: #FFFFFF;
}

#investigate-title {
    margin: 40px 0 0;
    height:33px;
    font-size:24px;
    line-height: 33px;
}


/*408 特殊大字号 要求*/
body {
     font-size: 16px !important;
 }

.layui-form .layui-form-item label {
    font-size: 18px;
    line-height: 30px;
}

.layui-form .layui-form-radio * {
    font-size: 16px;
    line-height: 25px;
}

.layui-form-item .layui-form-checkbox span {
    font-size: 16px;
}

.layui-form-checkbox[lay-skin=primary] span {
    line-height: 25px !important;
}

#investigate-title {
    font-size: 30px;
    font-weight: bold;
}

.layui-form-checkbox[lay-skin=primary] i {
    top: 3px !important;
}

:root .layui-form-radioed i:before {
    top: 5px !important;
}

:root .layui-form-radioed i:after {
    top: 9px !important;
}

.result-content label {
    font-size: 18px !important;
}

.result-content .result-item ul li .result-title {
    font-size: 16px !important;
}

.result-content .result-item ul li .progress-num {
    font-size: 14px !important;
}

.result-content .result-item ul li .sum {
    font-size: 14px !important;
}

.layui-form-item img {
    width: 315px !important;
    height: 236px !important;
}

.layui-form .layui-input-block .box {
    width: 315px !important;
    margin: 20px 40px 0px 36px !important;
}

.button {
    font-size: 20px !important;
}
