<form class="layui-form" action="">
    {{each questionList as item index}}
        <!-- 单选题 -->
        {{if item.type=='1'&&item.multiSelect=='0'}}
        <div class="layui-form-item {{!!item.required?'single-selection-req':''}}">
            <label class="layui-form-label">
                <span class="required">{{!!item.required?'* ':'&nbsp;&nbsp;'}}</span>
                {{index+1}}、{{item.title}}（单选{{!item.required?'，非必答':''}}）
            </label>
            <div class="layui-input-block">
                {{each item.questionPartList as option index}}
                <div class="{{!!option.url?'box':''}}">
                    {{if !!option.url}}
                    <img src="{{option.url}}" alt="">
                    {{/if}}
                    {{if !!option.defaultSelect}}
                    <input type="radio" name="{{item.id}}" value="{{option.id}}" title="{{option.content}}{{!!option.questionPart&&!!option.mustSelect?'请说明（非必填）':''}}" checked>
                    {{else}}
                    <input type="radio" name="{{item.id}}" value="{{option.id}}" title="{{option.content}}{{!!option.questionPart&&!!option.mustSelect?'请说明（非必填）':''}}">
                    {{/if}}
                    {{if !!option.questionPart}}
                    <input type="text" name="{{item.id}}" value="" placeholder="" autocomplete="off" class="layui-input inline-block option-input {{!!option.questionPart&&!!option.mustSelect?'ml-36':''}}">
                    {{/if}}
                </div>
                {{/each}}
            </div>
        </div>
        {{/if}}

        <!-- 多选题 -->
        {{if item.type=='1'&&item.multiSelect=='1'}}
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="required">{{!!item.required?'* ':'&nbsp;&nbsp;'}}</span>
                {{index+1}}、{{item.title}}（多选{{!item.required?'，非必答':''}}）
            </label>
            <div class="layui-input-block">
                {{each item.questionPartList as option index}}
                <div class="{{!!option.url?'box2':''}}">
                    {{if !!option.url}}
                    <img src="{{option.url}}" alt="">
                    {{/if}}
                    {{if !!option.defaultSelect}}
                    <input type="checkbox" name="{{item.id}}" value="{{option.id}}" title="{{option.content}}{{!!option.questionPart&&!!option.mustSelect?'请说明（非必填）':''}}" lay-skin="primary" checked>
                    {{else}}
                    <input type="checkbox" name="{{item.id}}" value="{{option.id}}" title="{{option.content}}{{!!option.questionPart&&!!option.mustSelect?'请说明（非必填）':''}}" lay-skin="primary">
                    {{/if}}
                    {{if !!option.questionPart}}
                    <input type="text" name="{{item.id}}" value="" placeholder="" autocomplete="off" class="layui-input inline-block option-input {{!!option.questionPart&&!!option.mustSelect?'ml-36':''}}">
                    {{/if}}
                </div>
                {{/each}}
            </div>
        </div>
        {{/if}}

        <!-- 填空题 -->
        {{if item.type=='2'&&item.multiSelect=='0'}}
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="required">{{!!item.required?'* ':'&nbsp;&nbsp;'}}</span>
                {{index+1}}、{{item.title}}{{!item.required?'（非必答）':''}}
            </label>
            {{if item.questionPartList.length==1}}
                {{each item.questionPartList as option index}}
                <textarea name="{{option.id}}" placeholder="" rows="3" class="layui-textarea" required  lay-verify="{{!!option.mustSelect?'required':''}}|{{option.verification==1?'telephone':option.verification==2?'postCode':option.verification==3?'identity':option.verification==4?'cn':option.verification==5?'english':option.verification==6?'number':option.verification==7?'email':option.verification==8?'url':''}}" lay-verType="tips"></textarea>
                {{/each}}
            {{else}}
            <div class="layui-input-block fill-blanks">
                {{each item.questionPartList as option index}}
                <div class="fill-blanks-box">
                    {{if !!option.mustSelect}}
                    <span class="required">*</span>
                    {{else}}
                    &nbsp;
                    {{/if}}
                    <span>{{option.content}}{{!option.mustSelect?'（非必填）':''}}：</span><input type="text" name="{{option.id}}" required  lay-verify="{{!!option.mustSelect?'required':''}}|{{option.verification==1?'telephone':option.verification==2?'postCode':option.verification==3?'identity':option.verification==4?'cn':option.verification==5?'english':option.verification==6?'number':option.verification==7?'email':option.verification==8?'url':''}}" lay-verType="tips" placeholder="" autocomplete="off" class="layui-input">
                </div>
                {{/each}}
            </div>
            {{/if}}
        </div>
        {{/if}}
    {{/each}}
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="button layui-btn" lay-submit lay-filter="*">提交</button>
        </div>
    </div>
</form>
