<form class="layui-form" action="">
    {{each questionList as item index}}
        <!-- 选择题 -->
        {{if item.type=='1'}}
        <div class="layui-form-item {{!!item.required?'selection-req':''}}">
            <label class="layui-form-label">
                <span class="required">{{!!item.required?'* ':'&nbsp;&nbsp;'}}</span>
                {{index+1}}、{{item.title}}（{{item.multiSelect=='0'?'单选':'多选'}}{{!item.required?'，非必答':''}}）
            </label>
            <div class="layui-input-block">
                {{each item.questionPartList as option index}}
                <div class="{{!!option.url?'box':'ml-36'}}">
                    {{if !!option.url}}
                    <img src="{{option.url}}" alt="">
                    {{/if}}
                    {{if !!option.defaultSelect}}
                    <input type="{{item.multiSelect=='0'?'radio':'checkbox'}}" name="{{item.id}}" questionId="{{item.id}}" questionPartId="{{option.id}}" isFitb="{{!!option.questionPart?1:0}}" title="{{option.content}}" lay-skin="primary" checked>
                    {{else}}
                    <input type="{{item.multiSelect=='0'?'radio':'checkbox'}}" name="{{item.id}}" questionId="{{item.id}}" questionPartId="{{option.id}}" isFitb="{{!!option.questionPart?1:0}}" title="{{option.content}}" lay-skin="primary">
                    {{/if}}
                    {{if !!option.questionPart}}
                    <div class="{{!!option.url?'desc-wrap':'no-img-desc'}}">
                        {{if !!option.questionPart.mustSelect}}
                        <span class="required">*</span>
                        {{/if}}
                        <div class="description-word">{{option.questionPart.content}}</div>
                        {{if !option.questionPart.lineNum}}
                        <div class="input-wrapper">
                            <input type="text" disabled="disabled" maxlength="{{option.questionPart.maximum}}" id="{{option.id}}" questionId="{{option.questionPart.questionId}}" questionPartId="{{option.questionPart.id}}" value="" required  lay-verify="{{!!option.questionPart.mustSelect?'required':''}}|{{option.questionPart.verification==1?'telephone':option.questionPart.verification==2?'postCode':option.questionPart.verification==3?'identityCheck':option.questionPart.verification==4?'cn':option.questionPart.verification==5?'english':option.questionPart.verification==6?'num':option.questionPart.verification==7?'eMail':option.questionPart.verification==8?'Url':''}}" lay-verType="alert" placeholder="" autocomplete="off" class="layui-input {{option.questionPart.maximum>20?'is-long':''}} option-input" />
                        </div>
                        {{else}}
                        <textarea maxlength="{{option.questionPart.maximum}}" rows="2" id="{{option.id}}" questionId="{{option.questionPart.questionId}}" questionPartId="{{option.questionPart.id}}" required  lay-verify="{{!!option.questionPart.mustSelect?'required':''}}|{{option.questionPart.verification==1?'telephone':option.questionPart.verification==2?'postCode':option.questionPart.verification==3?'identityCheck':option.questionPart.verification==4?'cn':option.questionPart.verification==5?'english':option.questionPart.verification==6?'num':option.questionPart.verification==7?'eMail':option.questionPart.verification==8?'Url':''}}" lay-verType="alert" placeholder="" class="layui-textarea {{option.questionPart.maximum>20?'is-long':''}} option-textarea"></textarea>
                        {{/if}}
                    </div>
                    {{/if}}
                </div>
                {{/each}}
            </div>
        </div>
        {{/if}}

        <!-- 填空题 -->
        {{if item.type=='2'&&item.multiSelect=='0'}}
        <div class="layui-form-item fill-in-the-blank">
            <label class="layui-form-label">
                <span class="required">{{!!item.required?'* ':'&nbsp;&nbsp;'}}</span>
                {{index+1}}、{{item.title}}{{!item.required?'（非必答）':''}}
            </label>
            <div class="layui-input-block fill-blanks">
                {{each item.questionPartList as option index}}
                <div class="fill-blanks-box">
                    {{if !!option.url}}
                    <div class="img-wrap">
                        <img src="{{option.url}}" alt="">
                    </div>
                    {{/if}}
                    {{if !!option.mustSelect}}
                    <span class="required">*</span>
                    {{else}}
                    &nbsp;
                    {{/if}}
                    <span>{{option.content}}</span>
                    {{if !!option.lineNum}}
                    <textarea questionId="{{item.id}}" questionPartId="{{option.id}}" placeholder="" rows="3" class="layui-textarea" maxlength="{{option.maximum}}" required  lay-verify="{{!!option.mustSelect&&!!item.required?'required':''}}|{{!item.required?'':option.verification==1?'telephone':option.verification==2?'postCode':option.verification==3?'identityCheck':option.verification==4?'cn':option.verification==5?'english':option.verification==6?'num':option.verification==7?'eMail':option.verification==8?'Url':''}}" lay-verType="alert"></textarea>
                    {{else}}
                    <div class="input-wrapper">
                        <input type="text" name="{{option.id}}" questionId="{{item.id}}" questionPartId="{{option.id}}" maxlength="{{option.maximum}}" required  lay-verify="{{!!option.mustSelect&&!!item.required?'required':''}}|{{!item.required?'':option.verification==1?'telephone':option.verification==2?'postCode':option.verification==3?'identityCheck':option.verification==4?'cn':option.verification==5?'english':option.verification==6?'num':option.verification==7?'eMail':option.verification==8?'Url':''}}" lay-verType="alert" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                    {{/if}}
                </div>
                {{/each}}
            </div>
        </div>
        {{/if}}
    {{/each}}
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="button layui-btn" lay-submit lay-filter="*">提交</button>
        </div>
    </div>
</form>
